.all-section {
  background-color: #f5f5f5;
  font-family: "Segoe UI", sans-serif;
  color: #2c3e50;
}

/* Container geral da seção */
.segmento-container {
  padding: 3rem 15%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Bloco do título e imagem do topo */
.segmento-banner {
  width: 100vw;
  height: 400px; /* altura padrão de banner */
  overflow: hidden;
  margin: 0 auto 2.5rem;
  position: relative;
  background-size: cover;
}

.segmento-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.segmento-container h2 {

  color: #4F4F4F;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
 
  
}


/* Título da seção */
.segmento-titulo {
  font-size: 2.2rem;
  color: #4F4F4F;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}

/* Grade de cards responsiva */
.segmento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 6.5rem;
  max-width: 1200px;
  margin: 4rem auto;
}

/* Card do segmento */
.segmento-card {
  
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  
  

}

.segmento-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Imagem do topo do card */
.segmento-img {
  display: flex;
  width: 100%;
  height: 250px; 
}
  
.gif-hover-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.static-img,
.gif-img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease;
}

.gif-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.gif-hover-container:hover .gif-img {
  opacity: 1;
}

.gif-hover-container:hover .static-img {
  opacity: 0;
}

/* Layout horizontal para ícone + texto */
.segmento-content-horizontal {

  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

/* Ícone circular à esquerda */
.segmento-icon-wrapper {
  margin-top: -40px;
  background-color: #ffffff;
  margin-left: 250px;
  border-radius: 50%;
  padding: 12px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  
}

.segmento-icon-wrapper2 {
  margin-top: 50px;
  
  margin-left: 250px;
  border-radius: 50%;
  padding: 12px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
}

.segmento-icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.segmento-icon:hover  {
  animation: butterflyFlight 2s ease-in forwards;
}

/* Animação de voo tipo borboleta */
@keyframes butterflyFlight {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translate(-10px, -20px) rotate(-15deg);
  }
  50% {
    transform: translate(20px, -60px) rotate(20deg);
  }
  75% {
    transform: translate(-30px, -100px) rotate(-30deg);
  }
  100% {
    transform: translate(100px, -200px) rotate(45deg);
    opacity: 0;
  }
}
.segmento-icon2 {
  width: 28px;
  height: 28px;
  filter: invert(1); /* ícone branco */
}

/* Texto do card */

.segmento-text {
  flex: 1;
}

.segmento-text h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #4F4F4F;
  font-weight: bold;
}

.segmento-faixa {
  display: block;
  margin: 1.3rem;
  color: #FF254A;
  font-weight: bold;
}

.segmento-card:hover .segmento-text h3 {
color: #FF254A;
}
.segmento-card:hover .segmento-text p {
color: #969696;
font-weight: bold;
s
}
.segmento-card:hover .segmento-faixa {
  color:#4F4F4F ;
}
.segmento-card:hover{
  background-color: #ffffff;
}

@media (min-width: 1024px) {
  .segmento-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem; /* aumenta o espaço entre os cards */
    padding: 0 2rem;
  }

  .segmento-card {
    max-width: 100%;
  }
}

@media (max-width: 768px){

  segmento-img {
  display: flex;
  width: 100%;
  height: 430px;
  object-fit: cover;
}
.segmento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 2rem;
  margin-top: 60px;
  
}
.segmento-container {
  padding: 0;
}
}

@media (max-width: 320px){
.segmento-banner {
  width: 100%;
  height: 300px; /* altura padrão de banner */
  padding: 100px 0px 60px ;
  margin: 0;
 
}
.segmento-container h2 {
  color: #4F4F4F;
  font-size: 1.5rem; 
}
.segmento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 0rem;
  margin-top: 60px;
  
}
}